[run]
source = flarchitect
omit =
    # exclude non-source or external dirs only
    */tests/*
    */demo/*
    */docs/*
    */instance/*
    */env/*
    */.env/*
    */.venv/*
    */venv/*
    */dist/*
    */build/*
    */.eggs/*

[report]
fail_under = 90
